

.error-message-container{
  text-align: center;
  background-color:var(--main-clr-red);
  color:var(--main-clr-white);
  font-size:var( --small-font);
  padding-top:10px;
  padding-bottom: 10px;
  border-radius: 8px;
  font-weight: 700;
}