

.error-message-container{
  background:#da344d;
  color:var(--main-clr-white);
  font-size:var( --small-font);
  padding-top:10px;
  padding-bottom: 10px;
  border-radius: 8px;
  padding-left:16px;
  padding-right:16px;
  

  & > *{
    padding-bottom: 12px; 
  }
  
}

.error-input{
  border:1px solid #da344d;
}

.error-text{
  color:#D73737;
  font-size: 0.875rem;
  margin-top:5px;
}