@import '../components/emptyComments.scss';
@import '../base/utils.scss';

.feedback-mobile-header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background: radial-gradient(128.88% 128.88% at 103.9% -10.39%, #E84D70 0%, #A337F6 53.09%, #28A7ED 100%);
    padding-top:16px;
    padding-bottom: 16px;
    position: relative;
    z-index:1;
    
    @media(min-width: $tablet-breakpoint){
      display: none;
    }
}

.feedback-header-title{
    font-size:var(--small-font);
    color:var(--main-clr-white);
    letter-spacing: -0.1875px;
   
    span{
        display: block;
        font-size: var(--smallest-font);
        color:rgba(white,0.75);
    }
    
    @media(min-width:$tablet-breakpoint){
        font-size: 1.2rem;
        span{
            font-size: var(--small-font);
        }
    }
    @media(min-width: $desktop-breakpoint){
      padding-top:60px;
    }
}

.feedbackBoardMobileMenu{
  position:absolute;
  top:77px;
  right:0;
  width:100%;
  min-height:100vh;
  background:rgba(0,0,0,0.6);
}

.feedbackMenuContent{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:24px;
    width: 271px;
    min-height:100vh;
    background:var(--main-clr-opaque-pink);
    float:right;
 
    .content{
        width:fit-content;
        background:white;
        border-radius: 10px;
        padding:24px 8px;
    }
}

.feedbackMenuContent.open{
  transform: translateX(0px); 
}

.category-feedback-container{
  display:flex;
  flex-wrap: wrap;

  & > *{
    margin-left:8px;
    margin-right:8px;
    margin-top:10px;
    margin-bottom: 10px;
  }
  @media (min-width:$tablet-breakpoint) {
    background:var(--main-clr-white);
    border-radius: 10px;
    padding:24px 5px;
   
  }

  .btn-opaque-pink{
    color:var(--main-clr-blue);
    padding:6px 16px;
    font-size: var(--smallest-font);

    &:hover{
      background:var(--main-clr-blue);
      color:var(--main-clr-white);
    }
  }
  .btn-opaque-pink.isSelected{
    background:var(--main-clr-blue);
    color:var(--main-clr-white);
  }
}

.roadmap-feedback{
  min-width: 223px;
  margin-block-start: 24px;
  padding:24px;
  padding-bottom: 10px;
  background:var(--main-clr-white);
  border-radius: 10px;

  .title{
    font-size: 1.125rem;
    color:var(--secondary-clr-black);
   }
   a{
    font-size: var(--smallest-font);
    color:var(--main-clr-blue);
   }

   @media(min-width: $tablet-breakpoint){
    margin-block-start: 0;
   }
}
.roadmap-menu-item{
  padding-top:20px;
  padding-bottom: 10px;

  & > *{
    margin-bottom:12px;
    color:var(--main-clr-gray);
  }
}
.roadmap-bullet-point{
  display: inline-block;
  width:8px;
  height:8px;
  border-radius: 50%;
  margin-right:16px;
}

.feedback-list{
  margin-block-start: 32px;
}
.feedback-item{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  background:var(--main-clr-white);
  padding:24px;
  margin-bottom: 16px;
  transition:all 300ms ease-in-out;

  & > *{
    width: fit-content;
  
   }
   @media(min-width: $tablet-breakpoint){
    grid-template-columns: 100px 1fr 100px;
    align-content: center;
     padding:16px 32px;
   }
 
}

.feedback-item:hover{
  cursor: pointer;

  .feedback-item-title{
    color:var(--main-clr-blue);
   }
   .feedback-item-views {
    background:var(--main-clr-blue);
    
      .feedback-item-count{
        color:white;
      }
     .feedback-item-views-icon{
      fill:white;
     }
   }
}

.feedback-item-header{
  grid-column: 1/4;

  margin-bottom: 10px;
  & > *{
    margin-bottom: 10px;
  }

  @media(min-width: $tablet-breakpoint){
    grid-column: 2/3;
    grid-row: 1/2;
    margin-bottom: 0px;

   
  }
}
.feedback-item-title{
  font-size: clamp(1rem, 1.5vw, 1.5rem); 
}

.feedback-item-description{
  font-size: clamp(0.875rem, 1.3vw, 1.2rem);
  color:var(--main-clr-gray);
}
.feedback-item-category{
  display: inline-block;
  background:var(--main-clr-light-pink);
  color:var(--main-clr-blue);
  font-weight: 600;
  font-size: 0.875rem;
  padding:5px 16px;
}

.feedback-item-views{
  background:#F2F2F2;
  padding:6px 12px;
  gap:10px;
  height: fit-content;
  
  @media(min-width: $tablet-breakpoint){
    grid-column: 1/2;
    grid-row:1/2;
    flex-direction: column;
    padding:6px 14px;
    gap:3px;
  }

}
.feedback-item-views-icon{
   width:12px;
   height:12px;
   fill: var(--main-clr-blue);
}

.feedback-item-count{
  font-size:var(--smallest-font);
  color:var(--secondary-clr-black);
  font-weight: 700;  
}

.feedback-item-comments-amount{
  grid-column: 3/4;
  justify-self: end;
  align-self: center;
  gap:10px;
  font-size:var(--smallest-font);
  color:var(--secondary-clr-black);
  font-weight: 700; 
  height: fit-content; 

  @media(min-width: $tablet-breakpoint){
    align-self: center;
  }
}

.feedback-board-header{
  display:none;
 
  @media(min-width: $tablet-breakpoint){
     display: flex;
     gap:10px;
     margin:40px auto;

    & > *{
     flex: 1 1 100%;
  
    }
  }
  @media(min-width: $desktop-breakpoint){
    flex-direction: column;
    padding:0;
    margin:0;
    
    & > *{
      margin-bottom:10px;
    }
  }
}

.feedback-box{
  display: flex;
  align-items: flex-end;
  padding-left:24px;
  padding-bottom:24px;
  background: radial-gradient(128.88% 128.88% at 103.9% -10.39%, #E84D70 0%, #A337F6 53.09%, #28A7ED 100%);

}

.suggestion-wrapper{
   
   @media(min-width:$desktop-breakpoint){
     display:grid;
     grid-template-columns: 255px 825px;
     justify-content: center;
     padding-top:90px;
     grid-gap:30px;
   }
}