
.feedback-header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background: radial-gradient(128.88% 128.88% at 103.9% -10.39%, #E84D70 0%, #A337F6 53.09%, #28A7ED 100%);
    padding-top:16px;
    padding-bottom: 16px;
    position: relative;
    z-index:1;
    
}

.feedback-header-title{
    font-size:var(--small-font);
    color:var(--main-clr-white);
    letter-spacing: -0.1875px;
   
    span{
        display: block;
        font-size: var(--smallest-font);
        color:rgba(white,0.75);
    }
    
    @media(min-width:767px){
        font-size: 1.2rem;
        span{
            font-size: var(--small-font);
        }
    }
}

.feedbackBoardMobileMenu{
  position:absolute;
  top:77px;
  right:0;
  width:100%;
  min-height:100vh;
  background:rgba(0,0,0,0.6);
}

.feedbackMenuContent{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:24px;
    width: 271px;
    min-height:100vh;
    background:var(--main-clr-opaque-pink);
    float:right;
 
    .content{
        width:fit-content;
        background:white;
        border-radius: 10px;
        padding:24px 8px;
    }
}

.feedbackMenuContent.open{
  transform: translateX(0px); 
}

.category-feedback-container{
  display:flex;
  flex-wrap: wrap;

  & > *{
    margin-left:8px;
    margin-right:8px;
    margin-top:10px;
    margin-bottom: 10px;
    
  }
  .btn-opaque-pink{
    color:var(--main-clr-blue);
    padding:6px 16px;
    font-size: var(--smallest-font);

    &:hover{
      background:var(--main-clr-blue);
      color:var(--main-clr-white);
    }
  }
  .btn-opaque-pink.isSelected{
    background:var(--main-clr-blue);
    color:var(--main-clr-white);
  }
}

.roadmap-feedback{
  min-width: 223px;
  margin-block-start: 24px;
  padding:24px;
  padding-bottom: 10px;
  background:var(--main-clr-white);
  border-radius: 10px;

  .title{
    font-size: 1.125rem;
    color:var(--secondary-clr-black);
   }
   a{
    font-size: var(--smallest-font);
    color:var(--main-clr-blue);
   }
}
.roadmap-menu-item{
  padding-top:20px;
  padding-bottom: 10px;

  & > *{
    margin-bottom:12px;
    color:var(--main-clr-gray);
  }
}
.roadmap-bullet-point{
  display: inline-block;
  width:8px;
  height:8px;
  border-radius: 50%;
  margin-right:16px;
}

.feedback-list{
  margin-block-start: 32px;
}
.feedback-item{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  width: fit-content;
  background:var(--main-clr-white);
  padding:24px;
  margin-bottom: 16px;
   
  & > *{
    width: fit-content;
   }
}

.feedback-item-header{
  grid-column: 1/4;
  margin-bottom: 10px;
  & > *{
    margin-bottom: 10px;
  }
}
.feedback-item-title{
  font-size: clamp(1rem, 1.4vw, 1.3rem); 
}

.feedback-item-description{
  font-size: clamp(0.875rem, 1.2vw, 1.2rem);
  color:var(--main-clr-gray);
}
.feedback-item-category{
  display: inline-block;
  background:var(--main-clr-light-pink);
  color:var(--main-clr-blue);
  font-weight: 600;
  font-size: 0.875rem;
  padding:5px 16px;
}

.feedback-item-views{
  background:#F2F2F2;
  padding:6px 12px;
  gap:10px;
}
.feedback-item-views-icon{
   width:12px;
   height:12px;
   fill: var(--main-clr-blue);
}

.feedback-item-count{
  font-size:var(--smallest-font);
  color:var(--secondary-clr-black);
  font-weight: 700;  
}

.feedback-item-comments-amount{
  grid-column: 3/4;
  justify-self: end;
  gap:10px;
  font-size:var(--smallest-font);
  color:var(--secondary-clr-black);
  font-weight: 700;  
}