
@import './styles/base/reset.scss';
@import './styles/base/colors.scss';
@import './styles/base/typography.scss';
@import './styles/base/utils.scss';
@import './styles/partials/authLayout.scss';
@import './styles/partials/suggestionPageLayout.scss';
@import './styles/partials/buttons.scss';
@import './styles/partials/errors.scss';
@import './styles/components/suggestionFilter.scss';



html,body,main{
   min-height:100vh;
}

body{
   background:var(--primary-bg-clr);
}

a{
   color:var(--secondary-clr-black);

   &:hover{
     color:var( --clr-opaque-secondary-black);
   }
}

ul{
   list-style-type: none;
   padding:0;
}


form label{
   font-size: clamp(var(--small-font), 1.7vh, var(--medium-font));
   color:var(--main-clr-dark-black);
   
}
form input{
   outline:none;
   transition: all 300ms ease-in-out;
   margin-top: 5px;
   
   &:focus{
      border:1px solid var(--main-clr-blue);
  }
}
