:root{
    --main-clr-purple:#AD1FEA;
    --main-clr-blue:#4661E6;
    --clr-light-blue:#62BCFA;
    --main-clr-white:#ffffff;
    --main-clr-dark-black:#373F68;
    --secondary-clr-black:#3A4374;
    --main-clr-light-pink:#f2f4ff;
    --main-clr-opaque-pink:#F7F8FD;
    --main-clr-gray:#647196;
    --main-clr-orange:#F49F85;
    --main-clr-red:#D73737;
    --primary-bg-clr:#F7F8FD;

    /* Hover states */
    --clr-opaque-purple:#C75AF6;
    --clr-opaque-blue:#7C91F9;
    --clr-opaque-secondary-black:#656EA3;
    --clr-opaque-red:#E98888;

}