
@import './colors.scss';

$tablet-breakpoint:767px;
$desktop-breakpoint:1200px;
    
.d-block{
    display:block;
}

.d-inline-block{
    display:inline-block;
}

.d-flex{
    display:flex;
}

.d-flex-align-center{
    align-items: center;
}
.d-flex-space-between{
    justify-content: space-between;
}
.d-flex-center{
 justify-content: center;
}
.d-flex-column{
    flex-direction: column;
}

.text-center{
    text-align: center;
}

.uppercase{
    text-transform:uppercase;
}

.capitalize{
    text-transform: capitalize;
}

.margin-center{
    margin-left:auto;
    margin-right: auto;
}

.mt-10{
    margin-top: 10px;
}
.mt-20{
    margin-top:20px;
}
.mt-25{
    margin-top:25px;
}

.primary-border-radius{
    border-radius: 10px;
}

.max-width-wrapper{
   margin-left:auto;
   margin-right:auto;
   padding-left:24px;
   padding-right: 24px;
   max-width: 825px;
}

.stickOutOfContainer {
    margin-left: -24px;
    margin-right: -24px;

}
.pink-clr{
    background:var( --primary-bg-clr);
}

.router-link{
    font-weight: 700;
    font-size:var(--smallest-font);
    text-decoration: none;
}
.router-link:hover{
    color:inherit;
}
.icon-arrow-left{
  margin-right:16px;
}
.rotate-down{
    transform:rotate(180deg);
}